:root {
    --purple-gradient-1: linear-gradient(135deg, #a855f7, #d8b4fe);
    --purple-gradient-2: linear-gradient(135deg, #8e2de2, #4a00e0);
    --secondary-color: #393E46;
    --purple-glow-1: 0 0 10px #a855f7, 0 0 20px #d8b4fe;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #000;
  color: white; 
}


html {
    scroll-behavior: smooth;
}
